 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .main {
     width: 700px;
     height: 700px;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     margin: 0 auto;
 }

 #figure {
    width: 200px;
    margin: 50px;
 }

.square {
    width: 200px;
    height: 200px;
    background: black;
    margin: 50px;
    
}

.rectangle {
    width: 200px;
    height: 100px;
    margin: 50px;
    background: black;
}

.circle {
    width: 200px;
    height: 200px;
    background: black;
    margin: 50px;
    border-radius: 50%;
}

