* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 700px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}



.square {
    width: 200px;
    height: 200px;
    background: black;
    margin: 20px;
    
}

.rectangle {
    width: 200px;
    height: 150px;
    margin: 20px;
    background: black;
}

.circle {
    width: 200px;
    height: 200px;
    background: black;
    margin: 20px;
    border-radius: 50%;
}