* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 700px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.square {
    width: 200px;
    height: 200px;
    background: black;
    margin: 20px;
}

.triangle {
    width: 20px;
    height: 0;
    border: solid 100px;
    border-color: transparent transparent black transparent;
}

.circle {
    width: 200px;
    height: 200px;
    background: black;
    margin: 20px;
    border-radius: 50%;
}